In [2]:
import pandas as pd

# Series object

In [4]:
students = ["Alice", "Jack", "Molly"]

pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [5]:
numbers = [1, 2, 3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
students = ["Alice", "Jack", None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [7]:
numbers = [1, 2, None]

pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
import numpy as np

np.nan == None

False

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [14]:
student_subjects = {"Alice": "Physics",
                   "Jack" : "Chem",
                   "Molly" : "Maths"}

s = pd.Series(student_subjects)
s

Alice    Physics
Jack        Chem
Molly      Maths
dtype: object

In [16]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [17]:
students = [("Alice", "Brown"), ("Jack", "Willis"), ("Molly", "Davies")]

s = pd.Series(students)

In [18]:
s

0     (Alice, Brown)
1     (Jack, Willis)
2    (Molly, Davies)
dtype: object

In [19]:
s = pd.Series(["Physics", "Chemistry", "Maths"], index=["Alice", "Jack", "Molly"])
s

Alice      Physics
Jack     Chemistry
Molly        Maths
dtype: object

In [20]:
student_subjects = {"Alice": "Physics",
                   "Jack" : "Chem",
                   "Molly" : "Maths"}

s = pd.Series(student_subjects, index=["Alice", "Molly", "Sam"])
s

Alice    Physics
Molly      Maths
Sam          NaN
dtype: object

In [22]:
student_subjects = {"Alice": "Physics",
                   "Jack" : "Chem",
                   "Molly" : "Maths",
                   "Sam" : "Comp Sci"}

s = pd.Series(student_subjects)

s

Alice     Physics
Jack         Chem
Molly       Maths
Sam      Comp Sci
dtype: object

In [23]:
s.iloc[3]

'Comp Sci'

In [24]:
s.loc["Jack"]

'Chem'

In [25]:
s[3]

'Comp Sci'

In [26]:
s.loc["Jack"]

'Chem'

In [27]:
class_code = {99: "Physics",
             100: "Chem",
             101: "Physics",
             102: "Comp Sci"}

c = pd.Series(class_code)

In [28]:
c[0]

KeyError: 0

In [29]:
c.iloc[0]

'Physics'

In [30]:
grades = pd.Series([90, 80, 70, 60, 10, 30, 30, 12, 42, 54, 50, 97])
total = 0
for grade in grades:
    total+=grade

print(total/len(grades))

52.083333333333336

In [31]:
total = np.sum(grades)
print(total/len(grades))

52.083333333333336

In [32]:
grades = pd.Series(np.random.randint(0, 100, 10000))

grades.head()

0    54
1    41
2    12
3    90
4    25
dtype: int32

In [33]:
len(grades)

10000

In [36]:
%%timeit -n 100

total = 0
for grade in grades:
    total+=grade
averag = total/len(grades)

1.22 ms ± 138 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
%%timeit -n 100

average = np.sum(grades)/len(grades)

97.8 µs ± 21.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [38]:
grades+=5

grades.head()

0    59
1    46
2    17
3    95
4    30
dtype: int32

In [51]:
for label, value in grades.items():
    grades.at[label] = value+2

In [44]:
grades.head()

0    61
1    48
2    19
3    97
4    32
dtype: int32

In [49]:
student_subjects = pd.Series({"Alice": "Physics",
                   "Jack" : "Chem",
                   "Molly" : "Maths",
                   "Sam" : "Comp Sci"})

In [46]:
Kelly_Classes = pd.Series(["FM", "Maths", "Physics", "Economics"], index=["Kelly", "Kelly", "Kelly", "Kelly"])
Kelly_Classes

Kelly           FM
Kelly        Maths
Kelly      Physics
Kelly    Economics
dtype: object

In [55]:
all_student_subjects = student_subjects.append(Kelly_Classes)
all_student_subjects

C:\Users\mohka\AppData\Local\Temp\ipykernel_40212\2049188880.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_student_subjects = student_subjects.append(Kelly_Classes)

Alice      Physics
Jack          Chem
Molly        Maths
Sam       Comp Sci
Kelly           FM
Kelly        Maths
Kelly      Physics
Kelly    Economics
dtype: object

In [56]:
all_student_subjects.loc["Kelly"]

Kelly           FM
Kelly        Maths
Kelly      Physics
Kelly    Economics
dtype: object

In [57]:
all_student_subjects.iloc[5]

'Maths'